.resident-container{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
}

.form__input{
    align-self: center;
}


.error__text{
    font-size: xx-large;
    text-align: center;
    color: var(--color-green);
    margin-top: 100px;
    margin-left: 80px;
}

.error__text__gif{
    margin-top: 20px;
    padding-left: 600px;
}

.header__img{
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}


/* Loader */

.loader{
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 5px 5px;
    background: rgb(65, 247, 10);
    font-size: medium;
    border-radius: 50%;
    animation: animation 1.5s linear infinite;
}

@keyframes animation{

0%{
    box-shadow: 0 0 0 0  rgb(65, 247, 10, .6), 0 0 0 0  rgb(65, 247, 10, .6);
}

30%{
    box-shadow: 0 0 0 80px  rgb(65, 247, 10, .0), 0 0 0 0  rgb(65, 247, 10, .6);
}

65%{
    box-shadow: 0 0 0 80px  rgb(65, 247, 10, .0), 0 0 0 50px  rgb(65, 247, 10, .0);
}

100%{
    box-shadow: 0 0 0 0  rgb(65, 247, 10, .0), 0 0 0 50px  rgb(65, 247, 10, .0);
}

}


.icon__loader{
    height: 60px;
    width: 60px;
}
