@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* --- RESET --- */
:root {
    --bg-card: #1a262c;
    --color-green: rgb(14, 195, 14);
    --bg--all: #05292e;
  }
  
  html{
    font-family: 'Lato', sans-serif;
  }

  body {
    margin: 0;
    background-color: var(--bg--all);
    margin-bottom: 20px;
  }
  h1, h2, h3, p, ul, hr {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  input{
    width: 180px;

  }
  input, button {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    border: none;
    border-radius: 5px 0px 0px 5px ;
    height: 30px;
    text-align: center;
    
  }
  button{
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
  }
  img{
    display: block;
  }


  @media (max-width: 320px) {
    .input {
        width: 80%;
        align-content: center;
    }
  }
  
  .header__img {
    background-size: cover;
    height: 250px;
    overflow: hidden;
  }

  .error__text{
    margin-top: 20px;
    margin-left: -5px;
}
  .error__text__gif{
    margin-top: 20px;
    margin-left: -70px;
}
 
